<form action="/new" method="POST">
    <a href="/"><button type="button">Go Back</button></a>
    <label>Your Name: <input required type="text" name="messageUser"></label>
    <label>Your Message: <textarea id="message" name="message" rows="4" cols="50"></textarea></label>
    <button type="submit">Send</button>
</form>