<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>Your Secret Messages</h2>
    <h2><a href="/new">Send a message here</a></h3>
    <% messages.forEach((message) => { %>
        <div class="message-container">
            <p>From <%- message.user%></p>
            <a href="/message/<%= message.id %>"><button>Open</button></a>
        </div>

    <% }) %>
</body>
</html>