<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>Message Details:</h1>
    <h2>From: <%= messageToDisplay.user %></h2>
    <h3>On: <%= messageToDisplay.added %></h3>
    <h3>Message: <%= messageToDisplay.text %></h3>
    <a href="/"><button>Go Back</button></a>
</body>
</html>
