<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <div id="message-details-container">
        <h1>Message Details:</h1>
        <h1>From: <%= messageToDisplay.username %></h2>
        <div id="date-container">
            <h1>Sent On:</h3>
            <h2><%= messageToDisplay.added %></h3>
        </div>
        <div id="message-container">
            <h1>Message:</h3>
            <h2><%= messageToDisplay.text %></h3>
        </div>
        <a href="/"><button id="return-button">Go Back</button></a>
    </div>
    
    
    
</body>
</html>
