<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>Send a message below!</h1>
    <%- include('form') %>
</body>
</html>